body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, main {
    background-color: rgb(244, 244, 244);
    width: 1000px;
    display: inline-block;
    margin-top: 25px;
    margin-left: calc(50% - 500px);
}

header > img {
    height: 25px;
    float: left;
}

nav {
    float: left;
    margin-left: 110px;
}

a {
    margin-right: 50px;
    color: black;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top: 3.5px;
}

nav > a:hover {
    border-bottom: 2px solid black;
}

nav > a:first-child {
    border-bottom: 2px solid black;
}

header > a {
    float: right
}

main > div {
    width: 450px;
    margin-top: 120px;
    float: left;
}

div > h1 {
    font-size: 60px;
}

.main-p {
    float: left;
    height: 50px;
    font-size: 14px;
}

div > a {
    float: left;
    margin-top: 20px;
    border: 2px solid ;
    border-radius: 20px;
    background-color: rgb(4, 84, 76);
    color: white;
    letter-spacing: 1px;
    word-spacing: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main > img {
    width: 55%;
    float: right;
    object-fit: contain;
    object-position: center;
}

.bottom-left {
    width: 150px;
    margin-top: 120px;
    float: left;
}

.logo-1 {
    float: left;
    width: 50px;
}

h2 {
    width: 100px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    float: left;
    padding-left: 10px;
}

.p-left {
    width: 100px;
    margin-left: 50px;
    font-size: 10px;
    padding-left: 10px;
}

.bottom-middle {
    width: 150px;
    margin-top: 120px;
    float: left;
}

.logo-2 {
    float: left;
    width: 35px;
}


h3 {
    width: 100px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    float: left;
    padding-left: 10px;
}

.p-middle {
    width: 100px;
    margin-left: 35px;
    font-size: 10px;
    padding-left: 10px;
}

.bottom-right {
    width: 150px;
    margin-top: 120px;
    float: left;
}

.logo-3 {
    float: left;
    width: 40px;
}

h4 {
    width: 100px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    float: left;
    padding-left: 10px;
}

.p-right {
    width: 100px;
    margin-left: 40px;
    font-size: 10px;
    padding-left: 10px;
}